<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xinzhi.xsxs.dao.LoginDao">
    <!-- 星号id+密码登录-->
    <select id="longin" resultType="cn.xinzhi.xsxs.pojo.UserInfo">
        select uid,upwd from userinfo where uid=#{id1} and upwd=#{pwd1}
    </select>
    <!-- 插入随机昵称和星号id-->
    <insert id="FirstLogin">
        insert into userinfo(uid,uname) values (#{ui.uid},#{ui.uname})
    </insert>
    <!--设置密码 -->
    <update id="updateUpwd">
        update userinfo set upwd=#{pwd} where uid=#{id}
    </update>
    <!-- 查找手机号-->
    <select id="selectPhone" resultType="cn.xinzhi.xsxs.pojo.UserInfo">
        select p_phone from userinfo where p_phone=#{phone}
    </select>
    <!--插入手机号 -->
    <update id="updatePhone">
        update userinfo set p_phone=#{phone1} where uid=#{id2}
    </update>
    <select id="getPhoto" resultType="cn.xinzhi.xsxs.pojo.PicTure" parameterType="int">
        select pi_background from picture
    </select>
</mapper>